body {
  font-family: "Raleway";
  box-sizing: border-box;
}

.quote-container {
  width: 250px;
  margin: 0 auto;
  border: 1px solid #998979;
  border-radius: 3px;
  padding: 20px;
  transition: background-color 1s ease;
}

/*

--------Background colors---------- 

#f39c12
#fb6964
#74a857
#27ae60
#332124
#15a085
#e64c3c
#2b3e50
*/
